﻿
@{
    ViewBag.Title = "Page";
}
<h2>Page</h2>

<div class="col-md-2 bg-danger">


    <a href="">IT</a><br />
    <a href="">CRM</a><br />
    <a href="">ERP</a><br />
    <a href="">Sage300</a><br />
    <a href="">Bussines</a>


</div>


<div class="col-md-10 bg-warning">

    <a href="">What is CRM</a><br />
    <a href="">What is CRM</a><br />
    <a href="">What is CRM</a><br />
    <a href="">What is CRM</a><br />
    <a href="">What is CRM</a><br />

</div>

<div class=""> </div>



<span class="bg-info top-right"><a href="~/User/Question">Add Question</a></span><br />
<span class="bg-info top-right"><a href="~/Account/Logout"> LogOut</a></span> <br />
