﻿@{
    ViewBag.Title = "Index";
}

<html>
<head>
    <title>Page Title</title>
</head>
<body>
    <span class="bg-danger top-right"><a href="~/Account/Login"> Log In</a></span>
    <p>
        Система управления взаимоотношениями с клиентами (CRM, CRM-система, сокращение от англ. Customer Relationship Management) — прикладное
        программное обеспечение для организаций, предназначенное для автоматизации стратегий взаимодействия с заказчиками (клиентами),
        в частности для повышения уровня продаж, оптимизации маркетинга и улучшения обслуживания клиентов путём сохранения информации о клиентах и истории взаимоотношений с ними,
        установления и улучшения бизнес-процессов и последующего анализа результатов.
    </p>


 


    @*<h1>PORCNAKAN LINQER</h1>
    <span class="bg-danger top-right"><a href="~/User/Question">Add Question</a></span><br />
    <span class="bg-danger top-right"><a href="~/Account/Logout"> LogOut</a></span> <br />*@
    
    <span class="bg-danger top-right"><a href="~/Account/Register">Registreation</a></span>

    
</body>
</html>

